<div style="padding:20px;margin:20px">

<!-- <table class="table table-bordered">
    <thead>
      <tr>
          <th>
             Body
          </th>
          <th>
            Id
          </th>
          <td>
            UserID
          </td>
          <td>
            Title
          </td>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of userData">
            <td>{{item.body}}</td>
            <td>{{item.id}}</td>
            <td>{{item.userId}}</td>
            <td>{{item.title}}</td>
        </tr>
    </tbody>
</table> -->










<!-- <table class="table table-bordered">
  <thead>
    <tr>
        <th>
          Id
        </th>
        <td>
          Auther
        </td>
        <td>
          Title
        </td>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let item of userData">
          <td>{{item.id}}</td>
          <td>{{item.author}}</td>
          <td>{{item.title}}</td>
      </tr>
  </tbody>
</table> -->


<table class="table table-bordered">
  <thead>
    <tr>
        <th>
          Id
        </th>
        <td>
          Device
        </td>
        <td>
          Price
        </td>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let item of userData">
          <td>{{item.id}}</td>
          <td>{{item.Device}}</td>
          <td>{{item.Price}}</td>
      </tr>
  </tbody>
</table>

<br>

<button class="btn btn-primary" (click)="evtSubmit()">Submit</button>

</div>







